@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap'); 

body{
    font-family: "Tilt Neon",sans-serif;
    line-height: 1.6;
    background-color: rgba(166, 207, 127, 0.493);
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

a{
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 700;
}

.navbar{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    background-color: rgb(166, 207, 127 );
}
/*home*/
section{
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}
 
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(63, 120, 76,0.7),rgba(166, 207, 127,0.7) );
    z-index: -1;
}
.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section-home{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 14px 22px;
    transition: all 0.4s ease;
}

.btn:hover{
    transform: scale(1.1);
}

.btn-home{
    border-color: darkslategrey;
    font-weight: 600;
    background-color:#EBF7C8;
}

.divider{
    height: 4px;
    width: 100px;
    background: linear-gradient(rgba(63, 120, 76,0.7),rgba(166, 207, 127,0.7) );
    margin: 10px auto;
}
.card{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);  
}

img{
    width: 100%;
}
.profilephoto{
    width: 50%;
    height: 50%;
    border-radius:250px;
    border: 5px solid #3f784c;
}

.experience-header{
    background: linear-gradient(to right, #3f784c,#a6cf7f );
    display: flex;
    align-items: center;
    justify-content: center;
}

.education .education-img{
    position: relative;
    width: 50%;
    height: 50%;

}

.education .education-img .icon i{
    position:absolute;
    font-size: 40px;
    background: linear-gradient(rgba(63, 120, 76,0.7),rgba(166, 207, 127,0.7) );
    width: 70px;
    height: 70px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -35px;
    left: 50%;
    transform: translateX(-30px);
}

.icon .html i{
    position:absolute;
    font-size: 40px;
    background: linear-gradient(rgba(63, 120, 76,0.7),rgba(166, 207, 127,0.7) );
    width: 70px;
    height: 70px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -35px;
    left: 50%;
    transform: translateX(-30px);  
}

.section-skills .icon i{
    background: -webkit-linear-gradient(rgb(166, 207, 127),rgb(63, 120, 76) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 
  54px;
}

 .progress.progress-bar{
    height: 100%;
    background:  darkslategrey;
 }

 form .form-control{
    border-radius: 0;
    background: transparent;
   
 }

 form .form-control:focus{
    color: #fff;
    background: transparent;
    
 }
 form .form-control::placeholder{
    color: #fff;
 }

.btn-main{
    border-color: darkslategrey;
    font-weight: 600;
    background-color:#EBF7C8;
}

footer .icon i{
    background: -webkit-linear-gradient(rgb(166, 207, 127),rgb(63, 120, 76) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}
.footer{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 991.98px) {
    .experience-header p {
        font-size: larger;
    }
    
  }
 